
/* .carousel-indicators li {
  border: none;
  background: #ccc;
}

.carousel-indicators li.active {
  background: #28a745;
} */

.card{
  background-color: #ed5e3d !important;
  color:white !important;
  font-size: x-large;
  font-weight: bold !important;
};


